<div id="brewery_profile">
  <h3><%=@brewery.name%></h3>
  <h3>Overall Rating: <%=@brewery.rating == 0 ? "Not enough data" : @brewery.rating%></h5><br>

  <b>Beers: </b> <br>
  <ul>
    <%@brewery.beers.each do |beer|%>
    <li> <a href="beers/<%=beer.id%>"><%=beer.name%></a> - reviews: <%=beer.reviews.count%> - rating: <%=beer.rating%></li>
    <%end%>
  </ul>

  <b>Top Reviews: </b>
  <br><br>
  <%@brewery.top_reviews.each do |review|%>
  <%=link_to review.user.username, user_path(review.user)%>'s <%=link_to 'Post', user_review_path(review.user, review)%>:
  <%= render partial: "reviews/review", locals: {review: review} %>
  <%end%>
  <%="No reviews at this time" if @brewery.reviews.blank? %>
</div>
