<br>
<div>
  <span>Taste: <%=review.taste%></span><span> Smell: <%=review.smell%></span> <span> Feel: <%=review.feel%></span> <span> Look: <%=review.look%></span>
  <br><br>
  <b>Overall Rating:</b><span> <%=review.rating%></span>
  <br><br>
  <b>Post:</b>
  <br><br>
  <%=review.content%>
  <br><br>
</div>
