<!DOCTYPE html>
<html>
  <head>
    <title>BeerReviewJquery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="topnav">
      <a href="/">Home Page</a>
      <%if logged_in?%>
      <a href="/users/<%=current_user.id%>">User Home</a>
      <a href="/logout">Log Out</a>
      <%else%>
      <a href="/users/new">Sign Up</a>
      <a href="/login">Log In</a>
      <%end%>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
